<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Customer</title>
</head>
<body>
<h1>Delete Customer</h1>
<h2>Are Your Sure ?</h2>
<p>
    <a href="/customers">Customer List</a>
</p>
<form th:action="@{/delete-customer}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>First name:</td>
            <td th:text="${customer.firstName}"></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td th:text="${customer.lastName}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete Customer"/></td>
        </tr>
    </table>
</form>

</body>
</html>